<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}" href="../static/bootstrap.css" />
</head>
<body>
    <h1>List of students as an unordered list</h1>
    <ul>
        <li th:each="student : ${students}"
            th:text="${student.studentName}">Apple</li>
    </ul>

    <h1>List of students as a table</h1>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>CGPA</th>
        </tr>
        <tr th:each="student : ${students}">
            <!--Note to self: Need to check how to incorporate a href with qutations-->
            <td><a th:href="${'student/' + student.studentId}" th:text="${student.studentId}">42011</a></td>
            <td th:text="${student.studentName}">John Doe</td>
            <td th:text="${student.cgpa}">3.54</td>
        </tr>
    </table>
</body>
</html>